@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Global */
:root {
  /* Color */
  --main-theme-color: salmon;
  --main-theme-dark-color: rgb(233, 97, 82);
  --background-color-odd: white;
  --background-color-even: #fff7d1;
  --title-text-color: black;
  --subtitle-text-color: black;
  --thirdtitle-text-color: black;
  --text-color: black;
  --description-font-color: gray;

  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe907d;
  --color-dark-pink: #fe917d;
  --color-black: #000000;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-green: teal;

  /* font-family */
  --main-font-family: BMJUA;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--title-text-color);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--subtitle-text-color);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--thirdtitle-text-color);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--text-color);
  margin: 4px 0;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  /* background-color: var(--main-theme-color); */
  background-color: transparent;
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.color--dark {
  background-color: #fe907d;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.navbar__logo span {
  margin-left: 12px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  margin: 0 4px;
  padding: 12px 14px;
  font-size: var(--font-regular);
  color: var(--color-white);
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: var(--main-theme-dark-color);
  border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
  display: none;
  position: absolute;
  top: 28px;
  right: 32px;
  font-size: var(--font-medium);
  color: var(--color-white);
}

/* Home */
#home {
  background: rgb(254, 145, 125);
  background: linear-gradient(
    0deg,
    rgba(0, 128, 55, 0.4) 20%,
    rgba(254, 145, 125, 0.8) 70%
  );
  /* background: url("/imgs/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; */
  padding: 100px 40px 40px 40px;
  text-align: center;
}

#home img {
  /* margin: 24px; */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid var(--color-green);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);

  transform-origin: 50% 0%;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: var(--animation-duration);
}

/* Section common */
.section {
  margin: auto;
  padding: 85px 50px 50px 50px;
  text-align: center;
}

.section__container {
  margin: auto;
  max-width: 1200px;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  margin: 16px;
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 50%;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--main-theme-color);

  transform-origin: 50% 0%;
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 100ms;
}

.major__title {
  margin-top: 12px;
  color: var(--color-dark-grey);
  font-size: var(--font-medium);
}

/* .major__icon:hover .major__title {
  color: var(--main-theme-color);
} => javascript로 구현하기 */

/* Skills */

#skills {
  background-color: var(--color-yellow);
  background-color: var(--color-yellow);
}

.skillset {
  margin-top: 12px;
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
}

.skillset__title {
  color: var(--color-light-white);
}

.skills__left {
  flex-basis: 60%;
  padding: 20px 40px;
}

.skill {
  margin: 12px 0;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  /* width: 70%; */
  height: 3px;
  background-color: var(--color-orange);
}

.skills__right {
  flex-basis: 40%;
  padding: 20px 40px;
  background-color: var(--color-dark-grey);
}

/* Wokr */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--main-theme-color);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  margin-left: 8px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
}

.project__img {
  max-width: 100%;
  max-height: 80%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
  border-radius: var(--size-border-radius);
}

.project:hover .project__description {
  transform: translateY(0px);
  opacity: 1;
}

.project__description h3,
.project__description span {
  color: var(--color-white);
  margin-bottom: 4px;
}

.project__description h3:after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-white);
  display: block;
  position: relative;
  left: 50%;
  margin: 8px 0px 4px -12px;
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}
.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}
.testimonial__speech-bubble a {
  color: var(--main-theme-color);
}

/* Contact */
#contact {
  background-color: var(--main-theme-color);
}

.contact__title,
.contact__email,
.contact__links i,
.contact__links span,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover,
.contact__links span:hover {
  transform: scale(1.1);
  color: var(--color-dark-grey);
}

.contact__links a span {
  font-size: 58px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
    justify-content: center;
  }

  .major {
    margin-bottom: 38px;
  }

  .major__icon {
    margin: auto;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, -3px);
  }
  20% {
    transform: translate(0);
  }
  40% {
    transform: translate(0, -6px);
  }
  60% {
    transform: translate(0);
  }
  80% {
    transform: translate(0, -3px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0) scale(1.1);
  }
  20% {
    transform: rotate(-30deg) scale(1.1);
  }
  40% {
    transform: rotate(30deg) scale(1.1);
  }
  60% {
    transform: rotate(-30deg) scale(1.1);
  }
  80% {
    transform: rotate(30deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1.1);
  }
}
