@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Global */
:root {
  /* Color */
  --main-theme-color: salmon;
  --main-theme-dark-color: rgb(233, 97, 82);
  --background-color-odd: white;
  --background-color-even: #fff7d1;
  --title-text-color: black;
  --subtitle-text-color: black;
  --thirdtitle-text-color: black;
  --text-color: black;
  --description-font-color: gray;

  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe917d;
  --color-dark-pink: #fe917d;
  --color-black: #000000;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-blue: #73aace;
  --color-orange: #fff7d1;
  --color-orange: #feb546;

  /* font-family */
  --main-font-family: BMJUA;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--title-text-color);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--subtitle-text-color);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--thirdtitle-text-color);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--text-color);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-theme-color);
  padding: 16px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.navbar__logo span {
  margin-left: 12px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  margin: 0 4px;
  padding: 12px 14px;
  font-size: var(--font-regular);
  color: var(--color-white);
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: var(--main-theme-dark-color);
  border-radius: var(--size-border-radius);
}
