@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* Global */
:root {
  /* color */
  --color-main: #2ac1bc;
  --color-main-dark: #1e8a87;
  --color-section: white;
  --color-white: white;

  /* font-family */
  --family-title: "BMDOHYEON";
  --family-velog: "Source Code Pro", monospace;
  /* Font-size */

  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* font-weight: ; */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* border Size */
  --border-bold: 5px;
  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--family-title);
}

/* Typography */
h1 {
  font-family: "BMDOHYEON";
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* color: var(--color-white); */
  margin: 16px 0;
}

h2 {
  font-family: "BMDOHYEON";
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  /* color: var(--color-white); */
  margin: 8px 0;
}

h3 {
  font-family: "BMDOHYEON";
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  font-weight: var(--weight-bold);
  /* color: var(--color-white); */
  margin: 8px 0;
}

p {
  font-family: "BMDOHYEON";
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  font-weight: var(--weight-bold);
  /* color: var(--color-white); */
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section {
  margin: auto;
  max-width: 1200px;
  padding: 40px;
  background-color: white;
}

/* Navbar */
#navbar {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: var(--font-regular);
  color: var(--color-white);
  background-color: var(--color-main);
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.navbar__logo p {
  padding-left: 8px;
  font-size: var(--font-medium);
}

.navbar__menu {
  display: flex;
  padding-right: 4px;
}

.menu__item {
  margin: 0 4px;
  padding: 8px 12px;
  font-family: var(--family-title);
  cursor: pointer;
}
.menu__item:hover {
  background-color: var(--color-main-dark);
  border-radius: 8px;
  transition: all 200ms linear;
}

/* Home */
#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.home__avatar {
  background-image: url(/imgs/hyerim-img.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 120%;
  background-color: var(--color-main);

  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: var(--border-bold) solid var(--color-main);
}

.home__descrition {
  padding-left: 12px;
}
/* Skills */
/* .skills__major {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

/* .skills__major-name {
  width: 300px;
  height: 300px;

  text-align: center;
  line-height: 300px;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  background-color: var(--color-mint);
  border-radius: 50%;
} */

.skills__major-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skills-item {
  width: 300px;
  height: 300px;

  text-align: center;
  border-radius: 50%;
  border: var(--border-bold) solid var(--color-mint);
}
.skills-item__name {
  text-align: center;
  line-height: 300px;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}
.skills-item__bar {
  width: 100%;
  height: 5px;
  background-color: var(--color-mint);
}
.skills-item__value {
  height: 5px;
  background-color: var(--color-dark-mint);
}

/* Project */
.project__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  display: block;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--color-mint);
}
.project-item__img {
  /* background-image: url(/imgs/shopping-list.png);
  background-repeat: no-repeat;
  background-size: cover; */

  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Acount */
#contact {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  background-color: var(--color-main);
  /* padding: 32px 0; */
}
.contact__title {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
}
.contact__title h1 {
  margin: 0;
}

.account {
  display: flex;
  flex-direction: column;
}

.account__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 12px 8px 0;
  color: white;
}

.account__link {
  transition: all 300ms ease-in;
}
.account__link:hover {
  transform: scale(1.1);
  color: var(--color-white);
}

.account__link i {
  font-size: var(--font-medium);
}
.velog {
  font-size: 36px;
}

.account__gmail {
  margin: 8px 12px 8px 0;
  transition: all 300ms ease-in;
}
.account__gmail:hover {
  transform: scale(1.1);
  color: var(--color-white);
}
/* .accounts {
  display: flex;
  justify-content: space-evenly;
}
.account__link {
  width: 100px;
  height: 100px;
} */
/* 
.account__link {
  display: block
  transition: all 300ms ease;
}
.account__logo {
  width: 100px;
  height: 100px;
}
.velog {
  background-color: var(--color-white);
  border-radius: 50%;
}

.account__link:hover {
  transform: scale(1.1);
}

.github {
  width: 100%;
  height: 100%;
}
.velog {
  display: block;
  margin: auto;
  font-family: "Source Code Pro", monospace;
  font-size: var(--font-large);
  font-weight: bold;
  color: var(--color-mint);
  text-align: center;
} */
